.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }

.nav-style{
    padding: 18px 120px;
    display: flex; 
    justify-content: space-between;
}
.primary-btn{
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    color: #006A50;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 600px;
    width: 116px 52px;
    height: 52px;
}
h1{
    font-size: 32px;
    font-weight: bold;
}

/* sec1-title style */

.sec1-title{
    width: 1280px;
    height: 560px;
    background-color: rgba(198, 228, 214, 1);
    margin: 20px auto;
    border-radius: 24px;
    display: flex;
    padding: 30px 30px;
    justify-content: space-between;
    align-items: center;
    }
.sec1-branch{
    display: block;
    width: 604px;
    height: 244px;
    margin-bottom: 150px;
    
    
    
}
.sec1-subtitle{
    font-size: 20px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
    padding-bottom: 0;
    
}
.sec1-description{
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin: 12px 0px 18px 0;
}
.sec1-btn{
    font-size: 17.5px;
    font-weight: 700px;
    color: #ffffff;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px auto;
    width: 280px;
    height: 42px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}
.sec1-img{
    width: 360px;
    height: 300px;
    padding-right: 140px;
    padding-bottom: 150px;
}
.sec1-btn a{
    text-decoration: none;
    
}
/* main1 style */

.main1-body{
    display: flex;
}
.main1{
    margin: 60px auto;
}
