.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }

.nav-style{
    padding: 18px 120px;
    display: flex; 
    justify-content: space-between;
    margin: 20px auto;
}
.primary-btn {
    padding: 15px 30px;
    cursor: pointer;
    border-radius: 8px;
    color: #006A50;
    border: 1px solid #006A50;
    font-size: 18px;
    font-weight: 600px;
    width: 116px 52px;
    height: 52px;
}
.primary-btn:hover {
    background-color: rgba(119, 248, 129, 1);
}
h1{
    font-size: 32px;
    font-weight: bold;
}

/* sec1-title style */

.sec1-title{
    width: 1280px;
    height: 560px;
    background-color: rgba(198, 228, 214, 1);
    margin: 20px auto;
    border-radius: 24px;
    display: flex;
    padding: 30px 30px;
    justify-content: space-between;
    align-items: center;
    }
.sec1-branch{
    display: block;
    width: 604px;
    height: 244px;
    margin-bottom: 150px;
    
    
    
}
.sec1-subtitle{
    font-size: 20px;
    font-weight: 500px;
    color: rgba(14, 14, 14, 0.5);
    padding-bottom: 0;
    
}
.sec1-description{
    font-size: 56px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin: 12px 0px 18px 0;
}
.sec1-btn{
    font-size: 17.5px;
    font-weight: 700px;
    color: #ffffff;
    background-color: rgba(0, 106, 80, 1);
    padding: 17px auto;
    width: 280px;
    height: 42px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}
.sec1-btn:hover{
    background-color: rgba(119, 248, 129, 1);
}
.sec1-img{
    width: 360px;
    height: 300px;
    
    padding-bottom: 150px;
    margin-right: 120px;
}
.sec1-btn a{
    text-decoration: none;
    
}
/* main1 style */

.main1-body{
    display: flex;
    
    
}
.main1{
    margin: 80px auto;
    width: 1280px;
    height: 324px;
}
.main1-head{ 
    margin-bottom: 32px;
}
.main1-div{
    width: 250px;
    height: 270px;
    margin: 0px auto;
    border: 2px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    padding: 0px auto;
    padding: 15px;
    
    
}
.main1-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.main1-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}
/* sec2 style */
.sec2{
    margin: 20px 140px;
    width: 1280 px;
    height: 120px;
    

}
.sec2-title{
    font-size: 42px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);

}
.sec2-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}
/* sec3 style */

.sec3{
    display: flex;
    width: 1280px;
    height: 325px;
    margin: 80px auto;
    justify-content: space-around;
    
}
.sec3-title{
    font-size: 20px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.sec3-description{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);

}
.sec3-div1{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 40px;
    width: 302px;
    border-radius: 16px;
}
.sec3-div2{
    background-color: rgba(198, 228, 214, 1);
    padding: 40px;
    width: 302px;
    border-radius: 16px;
}
.sec3-div3{
    background-color: rgba(247, 235, 207, 1);
    padding: 40px;
    width: 302px;
    border-radius: 16px;

    
}

.sec3-button1{
 background-color: rgba(84, 144, 245, 1);  
 font-size: 16px;
 font-weight: 700px;
 border-radius: 8px; 
 padding: 13px;
 color: #ffffff;
 border: none;
}
.sec3-button1:hover{
    background-color: rgba(119, 248, 129, 1);
}
.sec3-button2{
    font-size: 16px;
 font-weight: 700px;
 border-radius: 8px; 
 padding: 13px;
 color: #ffffff;
 border: none;
 background-color: rgba(9, 161, 92, 1);
}
.sec3-button2:hover{
    background-color: rgba(119, 248, 129, 1);
}

.sec3-button3{
    font-size: 16px;
 font-weight: 700px;
 border-radius: 8px; 
 padding: 13px;
 color: #ffffff;
 border: none;
 background-color: rgba(255, 194, 57, 1);
}
.sec3-button3:hover{
    background-color: rgba(119, 248, 129, 1);
}

/* sec4 style */
.sec4{
    margin: 80px auto;
    width: 1260px;
    height: 256px;
}
.sec4-des{
    background-image: url("/images/quote-bg.png");
    background-repeat: no-repeat;
    background-position: left top;
    padding: 20px 0 0 0;
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.sec4-title{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700px;
    margin-bottom: 4px;
}
.sec4-subtitle{
    color: rgba(14, 14, 14, 0.6);
    font-size: 16;
    font-weight: 400px;
}
/* sec5 style */

.sec5{
    width: 1280px;
    margin: 30px auto;
}
.sec5-title{
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}
.sec5-des{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
    margin-top: 24px;
}
.sec5-news{
    width: 1280px;
    padding: 48px;
    background-color: #ffffff;
    border-radius: 24px;
    display: flex;
    gap: 32px;
}
.sec5-img1{
    width: 408px;
    height: 306px;
    border-radius: 24px;
}
.sec5-t1{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.sec5-mid{
    font-size: 16px;
    font-weight: 400px;
    color: rgba(14, 14, 14, 0.7);
}
.sec5-btn1{
    background-color: rgba(0, 106, 80, 1);
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px;
    border-radius: 8px;
    border: none;
    color: #ffffff;
}
.sec5-btn1:hover{
    background-color: rgba(119, 248, 129, 1);
}
/* sec6 style */

.sec6{
    width: 1280px;
    
    margin: 80px 160px 80px 160px;
    
    
    
}
.sec6-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
}

.sec6-pera{
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.sec6-taka{
    display: flex;
    justify-content: space-around;
}
.sec6-text{
    width: 1032px;
    height: 64px;
    text-align: center;
    padding: 20px 40px;
    justify-content: center;
    margin: 32px 124px;
    font-size: 20px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);
    align-items: center;
    border: none;
}

.tk{
    width: 240px;
    height: 128px; 
    border-radius: 16px;
    text-align: center;
    
    font-size: 40px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
    border: 1px solid rgba(14, 14, 14, 0.15);
    background-color: rgba(198, 228, 214, 1);
    gap: 24px;
    align-content: center;
    cursor: pointer;
    justify-content: center;
}
.tk:hover{
    background-color: rgba(119, 248, 129, 1);
}
.sec6-btn1{
    display: block;
    background-color: rgba(0, 106, 80, 1);
    color: #ffffff;
    border-radius: 8px;
    border-color: rgba(14, 14, 14, 0.1);
    font-size: 18px;
    font-weight: 600;
    width: 151px;
    height: 56px;
}

.sec6-btn1:hover{
    background-color: rgba(119, 248, 129, 1);
}
.sec6-div1{
    margin-left: 47%;
    margin-right: 53%;
}

/* sec7 style */

.sec7{
    width: 1280px;
    margin: 60px 160px;
    justify-content: center;
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    align-content: center;
    height: 395px;
    border-radius: 24px;
}
.sec7-title{
    font-size: 40px;
    columns: rgba(14, 14, 14, 1);
}
.sec7-pera{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}
.sec7-text{
    
    width: 600px;
    height: 55px;
    font-size: 16px;
    
    color: rgba(14, 14, 14, 0.3);
    
    border-radius: 8px 0 0 8px;
    justify-content: ;
    align-content: center;
    padding-left:  40px;
    border: none;
}
.sec7-btn{
    background-color: rgba(0, 106, 80, 1);
    width: 150px;
    height: 58px;
    padding: 17px 34px;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    border-radius: 0 8px 8px 0;
    border: none;
}
.sec7-btn:hover{
    background-color: rgba(119, 248, 129, 1);
}
.sec7-div{
    display: flex;
    justify-content: center;
    gap: 0;
}
.sec7-pera2{
    font-size: 16px;
    margin-top: 24px;
    color: rgba(14, 14, 14, 0.7);
    
}
.sec7-pera{
    width: 622px;
    height: 48px;
    justify-content: center;text-align: center;
    margin-left: 329px;
}

